<% content_for :head do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= @google_api %>&sensor=false" type="text/javascript"></script>
<% end %>

<h1>Backpack of Memories</h1>

<div id="map_canvas">
</div>
