<!DOCTYPE html>
<html>
<head>
  <title>Backpack of Memories</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA88PBfpGEkHBbNqV4goDnUgihhlU88dQw&sensor=false"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
